* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

body,
html {
  min-width: 1700px;
  height: 100%;
  font-size: 14px;
  height: 100%;
}

ul {
  list-style: none;
}
/* 提取版心 */
.w {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
