@font-face {
  font-family: "iconfont"; /* Project id 5048581 */
  src: url('iconfont.woff2?t=1761277884320') format('woff2'),
       url('iconfont.woff?t=1761277884320') format('woff'),
       url('iconfont.ttf?t=1761277884320') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-qianjin:before {
  content: "\e629";
}

.icon-houtui:before {
  content: "\e621";
}

.icon-qianjin1:before {
  content: "\e623";
}

.icon-anniu-jiantouxiangyou:before {
  content: "\eb03";
}

.icon-anniu_jiantouxiangzuo:before {
  content: "\eb06";
}

.icon-duihao:before {
  content: "\e657";
}

.icon-zhongyingwen:before {
  content: "\e605";
}

.icon-icon-sousu-copy:before {
  content: "\e600";
}

.icon-diqiu:before {
  content: "\e60a";
}

.icon-zhongyingwenqiehuan-xianshizhongyingwen:before {
  content: "\e61e";
}

.icon-sousuo:before {
  content: "\e63b";
}

